<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">
                    Checkout
                    <span>Shop</span>
                </h1>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->
        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <h5 class="title-text">Address</h5>
                        <div class="row" id="MainDataRow">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <span class="Default-labelAddr">Default</span>

                                        <a href="/dashboard"  class="view-detail mt-3 mr-3">

                                            <b style="color:#c96">Edit</b>
                                        </a>
                                        
                                        <div class="Address_Section" id="Address_Section">
                                            <span class="summary-title ml-2"> {{DataObj.Addresses.First_Name}} {{DataObj.Addresses.Last_Name}}</span>
                                            <div class="mt-2" style="max-width: 360px; overflow:scroll;">
                                                <p>{{DataObj.Addresses.Email}},  {{DataObj.Addresses.Company_Name}}</p>
                                                <p>{{DataObj.Addresses.Street_Address}},   {{DataObj.Addresses.Street_Address1}},  {{DataObj.Addresses.City}},  {{DataObj.Addresses.State}},  {{DataObj.Addresses.Country}}</p>
                                                <p>{{DataObj.Addresses.Zip_Code}},  {{DataObj.Addresses.Phone_Number}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End .col-lg-4 -->
                                    

                                </div>
                                <p>To change default address,Visit
                                    <a href="/dashboard">Account</a>
                                </p>
                               
                            </div>
                            <!-- End .col-lg-9 -->
                            <aside class="col-lg-8">
                                <form id="OrderForm">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3>
                                    <!-- End .summary-title -->
                                    <table class="table table-summary">
                                        <tbody>
                                            <tr class="summary-total">
                                                <td>
                                                    <h4>Total:</h4>
                                                </td>
                                                <td>
                                                    <h4>
                                                        &#8377
                                                        <span id="totalSum" class="totalSum Pricetag" name="TotalPrice" > {{DataObj.TotalPrice.total}}</span>
                                                    </h4>
                                                </td>
                                            </tr>
                                            <!-- End .summary-total -->
                                        </tbody>
                                    </table>
                                    <!-- End .table table-summary -->
                                    <div class="accordion-summary" id="accordion-payment">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn"  name="paymentMethod" value="COD">
                                                        <label class="ml-2 ">Cash on Delivery</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Cash on delivery methods allows pay after the product delivered</p>
                                                    </div>
                                                </div>
                                              
                                                </li><div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn" name="paymentMethod" value="Online">
                                                        <label class="ml-2 ">Online Payment</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Pay amount through UPI,IMPS by Money traferring Apps</p>
                                                    </div>
                                                </div>
                                                
                                        </ul>
                                    </div>
                                    <!-- End .accordion -->
                                    {{#if DataObj.Addresses.Default}}
                                    <button type="submit" id="paymentBtn" class="btn btn-outline-primary-2 btn-order btn-block">
                                        Place Order
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block "  disabled>
                                        Place Order
                                    </button>
                                    <p>Add an address to enable Place Order button</p>
                                    {{/if}}
									
                                </div>
                                <!-- End .summary -->
                             </form>
                            </aside>
                            <!-- End .col-lg-3 -->
                        </div>
                        <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .checkout -->
        </div>
        <!-- End .page-content -->
    </main>
    <!-- End .main -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up"></i>
</button>
<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->
{{>mobile-menu}}
