<div class="page-wrapper">
    {{>user-top-nav}}
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">
                    Checkout
                    <span>Shop</span>
                </h1>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->
        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <h5 class="title-text">Address</h5>
                        <div class="row" id="MainDataRow">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <span class="Default-labelAddr">Default</span>

                                        <a href="/dashboard"  class="view-detail mt-3 mr-3">

                                            <b style="color:#c96">Edit</b>
                                        </a>
                                        
                                        <div class="Address_Section" id="Address_Section">
                                            <span class="summary-title ml-2"> {{DataObj.Addresses.First_Name}} {{DataObj.Addresses.Last_Name}}</span>
                                            <div class="mt-2" style="max-width: 360px; overflow:scroll;">
                                                <p>{{DataObj.Addresses.Email}},  {{DataObj.Addresses.Company_Name}}</p>
                                                <p>{{DataObj.Addresses.Street_Address}},   {{DataObj.Addresses.Street_Address1}},  {{DataObj.Addresses.City}},  {{DataObj.Addresses.State}},  {{DataObj.Addresses.Country}}</p>
                                                <p>{{DataObj.Addresses.Zip_Code}},  {{DataObj.Addresses.Phone_Number}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End .col-lg-4 -->
                                    

                                </div>
                                <p>To change default address,Visit
                                    <a href="/dashboard">Account</a>
                                </p>
                               
                            </div>
                            <!-- End .col-lg-9 -->
                            <aside class="col-lg-8">
                                <form id="OrderForm">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3>
                                    <!-- End .summary-title -->
                                    <table class="table table-summary">
                                        <tbody>
                                            <tr class="summary-total">
                                                <td>
                                                    <h4>Total:</h4>
                                                </td>
                                                <td>
                                                    <h4>
                                                        &#8377
                                                        <span id="totalSum" class="totalSum Pricetag" name="TotalPrice" > {{DataObj.TotalPrice.total}}</span>
                                                    </h4>
                                                </td>
                                            </tr>
                                            <!-- End .summary-total -->
                                        </tbody>
                                    </table>
                                    <!-- End .table table-summary -->
                                    <div class="accordion-summary" id="accordion-payment">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn"  name="paymentMethod" value="COD">
                                                        <label class="ml-2 ">Cash on Delivery</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Cash on delivery methods allows pay after the product delivered</p>
                                                    </div>
                                                </div>
                                                </li>
                                            <div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn" name="paymentMethod" value="PayPal">
                                                        <label class="ml-2 ">PayPal</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Pay amount through paypal seamlessly</p>
                                                    </div>
                                                </div>
                                                </li><div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn" name="paymentMethod" value="Online">
                                                        <label class="ml-2 ">Online Payment</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Pay amount through UPI,IMPS by Money traferring Apps</p>
                                                    </div>
                                                </div>
                                                </li><div class="row">
                                                    <div class="col-lg-4 col-md-8  form-control">
                                                         <input type="radio" class="radioBtn" name="paymentMethod" value="Card">
                                                        <label class="ml-2 ">Card Payment</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-2 mt-1">
                                                        <p class="hint">Pay the amount through your Credit / Debit card</p>
                                                    </div>
                                                </div>
                                                </li>
                                        </ul>
                                    </div>
                                    <!-- End .accordion -->
                                    {{#if DataObj.Addresses.Default}}
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                        Place Order
                                    </button>
                                    {{else}}
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block "  disabled>
                                        Place Order
                                    </button>
                                    <p>Add an address to enable Place Order button</p>
                                    {{/if}}
									
                                </div>
                                <!-- End .summary -->
                             </form>
                            </aside>
                            <!-- End .col-lg-3 -->
                        </div>
                        <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .checkout -->
        </div>
        <!-- End .page-content -->
    </main>
    <!-- End .main -->
    {{>user-footer}}
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up"></i>
</button>
<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->
{{>mobile-menu}}
<!-- Sign in / Register Modal -->
<div
    class="modal fade"
    id="signin-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">
                        <i class="icon-close"></i>
                    </span>
                </button>
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    id="signin-tab"
                                    data-toggle="tab"
                                    href="#signin"
                                    role="tab"
                                    aria-controls="signin"
                                    aria-selected="true"
                                >Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    id="register-tab"
                                    data-toggle="tab"
                                    href="#register"
                                    role="tab"
                                    aria-controls="register"
                                    aria-selected="false"
                                >Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div
                                class="tab-pane fade show active"
                                id="signin"
                                role="tabpanel"
                                aria-labelledby="signin-tab"
                            >
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="singin-email"
                                            name="singin-email"
                                            required
                                        >
                                    </div>
                                    <!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="singin-password"
                                            name="singin-password"
                                            required
                                        >
                                    </div>
                                    <!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .form-choice -->
                            </div>
                            <!-- .End .tab-pane -->
                            <div
                                class="tab-pane fade"
                                id="register"
                                role="tabpanel"
                                aria-labelledby="register-tab"
                            >
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="register-email"
                                            name="register-email"
                                            required
                                        >
                                    </div>
                                    <!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="register-password"
                                            name="register-password"
                                            required
                                        >
                                    </div>
                                    <!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                class="custom-control-input"
                                                id="register-policy"
                                                required
                                            >
                                            <label class="custom-control-label" for="register-policy">
                                                I agree to the
                                                <a href="#">privacy policy</a>
                                                *
                                            </label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .form-choice -->
                            </div>
                            <!-- .End .tab-pane -->
                        </div>
                        <!-- End .tab-content -->
                    </div>
                    <!-- End .form-tab -->
                </div>
                <!-- End .form-box -->
            </div>
            <!-- End .modal-body -->
        </div>
        <!-- End .modal-content -->
    </div>
    <!-- End .modal-dialog -->
</div>
<!-- End .modal -->
