  
    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content" >
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/logout">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										<table class="table-sm order-table-sm"  id="dtBasicExample"  cellspacing="0" width="100%">
											<thead>
												<tr>
													<th>Order No</th>
													<th>Items</th>
													<th>Amount</th>
													<th>Status</th>
													<th>View</th>
												</tr>
											</thead>
											<tbody class="orderPaginationcontent">
											{{#ifEquals DataObj.Orders null}}
												<h4 class="text-center mt-4">No orders in this Account</h4>
											{{/ifEquals}}
											{{#each DataObj.Orders}}
											<tr>
												<td>{{this.Order_no}}</td>
												<td>{{this.productsCount}}</td>
												<td>{{this.Total_Amount}}</td>
												<td>{{this.shipment.ShipmentStatus}}</td>
												<td><button type="button" class="viewBtn"   onclick="orderViewModal('{{this._id}}')"><i class="bi bi-eye"></i></button></td>
												<div id="{{this._id}}" class="modal fade" tabindex="-1">
												<div class="modal-dialog modal-dialog-centered modal-lg " id="order-modal-dialog" role="document">
				                                	<div class="modal-content rounded">
					                                	<div class="modal-header d-flex justify-end px-4">
						                                    <h5 class="modal-title" id="orderView">Order: {{this.Order_no}}</h5>
						                                    <button type="button" class="btn btn-outline-success" onclick="closeModal('{{this._id}}')">
																<b>X</b>
															</button>
						                           		</div>
						                            	<div class="modal-body px-4">
							                        	    <div class="card card-body">
																<div class="row">
																	<div class="col-xl-6 col-md-6 col-lg-6">
																		<address class="info-grid">
																			<div class="info-title"><strong>Delivery Address:</strong>
																	</div><br>
																	<div class="info-content">
																		{{this.Address.First_Name}} {{this.Address.Last_Name}}<br>
																		{{this.Address.Company_Name}}, {{this.Address.Street_Address}},<br>
																		{{this.Address.Street_Address1}} {{this.Address.City}},<br>
																		{{this.Address.State}},{{this.Address.Country}}, {{this.Address.Zip_Code}}<br>
																		<abbr title="Phone">P: </abbr> {{this.Address.Phone_Number}},{{this.Address.Email}}</div>
																		</address>
																	</div>
																	<div class="col-xl-6 col-md-6 col-lg-6">
																		<address class="info-grid">
																			<div class="info-title"><strong>Shipment</strong>
																			</div><br>
																				<div class="info-content">
																					Ordered On: <span>{{this.Order_Date}}</span><br>
																					Expected Delivery Date: <span>{{this.shipment.ExpectedDelivery}}</span><br>
																					Payment Method: <span>{{this.Payment.Payment_Method}}</span><br>
																					Shipping charge : <span>None</span><br>
																					<div class="order-bottom-section">
																						<div>Total: <span>{{this.Total_Amount}}</span>
																						</div>
																						{{#ifEquals this.shipment.ShipmentStatus "Cancelled"}}
																							<p>Cancelled</p>
																						{{else}}
																						<button onclick="cancelOrder('{{this.Order_no}}')" id="orderCancelBtn">Cancel</button>	
																						{{/ifEquals}}
																					</div>
																				</div>
																		</address>
																	</div>
																</div>
																<div class="row">
																	{{#each this.products}}
																	<div class="content  col-12 col-md-6 col-lg-6 mt-3">	
																		<div class="product product-7 text-left">
                                        			 						<figure class="product-media bg-white">
																				<span class="product-label label-new">Bought 400 peoples</span>
																				<div class="product-price mt-3 ml-2">
																					<a href="/item?name={{this.ProductName}}&id={{this._id}}&category={{this.MainCategory}}&price={{this.ProductPrice}}">
                                                					 					<div class="row mt-1">
																							<div class=" col-3 col-md-3 col-lg-3">
																								<img src="assets/img/products/{{this._id}}/{{this._id}}1.jpg" class="order-img" alt="product-img" class="img-fluid">
																							</div>
																							<div class="col-9 col-md-9 col-lg-9 ">
																								<ul>
																									<li class="mb-1 ">{{this.ProductName}}</li>
																									<li class="mb-1 ">Amount <span>&#8377 {{this.ProductPrice}}</span></li>
																									<li class="mb-1 ">Quantity <span> {{this.orderedQuantity}}</span></li>
																								</ul>
																							</div>
											    										</div>
																					</a>
                                            									</div>
																			</figure>
																		</div>
																	</div>
																	{{/each}}	
																</div>
															</div>
			                                    		 </div> {{!-- <end modal body>    --}}
													</div>
												</div>
												</div>
											</tr>
										{{/each}}
										</tbody>
										</table>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
										<h2>downloads</h2>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p><b>The following Default address will be used on the checkout page by default</b></p>
								    	<h3 class="card-title text-center mb-2">Billing Address</h3><!-- End .card-title -->
								    	<div class="row" id="AddressCard">
                                            <div class="col-lg-12" >
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">New Address</h3><!-- End .card-title -->
														<form action="/saveAddress" method="post" id="AddressForm" style="display: none;"> 
		                								<div class="row">
		                					<div class="col-sm-6 col-md-6 col-lg-6">
		                						<label>First Name *</label>
		                						<input type="text" class="form-control" name="FirstName" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6 col-md-6 col-lg-6">
		                						<label>Last Name *</label>
		                						<input type="text" class="form-control" name="LastName" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
										<div class="row">
		                					<div class="col-sm-6 col-md-6 col-lg-6">	
	            						<label>Company Name (Optional)</label>
	            						<input type="text" class="form-control" name="CompanyName">
											</div>
		                					<div class="col-sm-6 col-md-6 col-lg-6">
	            						<label>Email address *</label>
	        							<input type="email" class="form-control" name="EmailAddress" required>
											</div>
										</div>

	            						<label>Street address *</label>
	            						<input type="text" class="form-control" placeholder="House number and Street name" name="StreetAddress" required>
	            						<input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." name="StreetAddress1" required>
										
	            						<div class="row">
		                					<div class="col-sm-4 col-lg-4 col-md-4">
		                						<label>Town / City *</label>
		                						<input type="text" class="form-control" name="City" required>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4-->

		                					<div class="col-sm-4 col-lg-4 col-md-4">
		                						<label>State</label>
		                						<input type="text" class="form-control" name="State" required>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4 -->
											<div class="col-sm-4 col-lg-4 col-md-4">
		                						<label>Country *</label>
	            						<input type="text" class="form-control" name="Country" required>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-4 col-lg-4 col-md-4">
		                						<label>Postcode / ZIP *</label>
		                						<input type="text" class="form-control" name="ZipCode" required>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4 -->

		                					<div class="col-sm-4 col-lg-4 col-md-4">
		                						<label>Phone *</label>
		                						<input type="tel" class="form-control" name="PhoneNumber" required>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4 -->
											<div class="col-sm-4 col-lg-4 col-md-4" id="Buttoncol">
		                					
		                					<button class="btn btn-outline-primary-2 btn-order" title="Save Address"  ><b>Save</b></button>
		                					</div><!-- End .col-sm-4 col-lg-4 col-md-4 -->				
		                				</div><!-- End .row -->
										</form>
	        							<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="" id="New_AddressBtn" onchange="FormSettings()">
											<label class="custom-control-label" for="New_AddressBtn">New Address</label>
										</div><!-- End .custom-checkbox -->
										
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                        {{#each DataObj.Addresses}}
								    		<div class="col-lg-6 col-md-6" >
                                                {{#if this.Default}}
											
                                                    <span class="Default-label">Default</span>
                                                {{/if}}
								    			<div class="card card-dashboard">
								    				<div class="card-body">
														<h6>{{this.First_Name}} {{this.Last_Name}}<h6>
														<p>{{this.Company_Name}}</p>
														<p>{{this.Email}}</p>
                                                        <p>{{this.Street_Address}}, {{this.Street_Address1}}</p>
														<p>{{this.City}},{{this.State}},{{this.Country}}</p>
														<p>{{this.Zip_Code}},Ph: {{this.Phone_Number}}</p>
														
														<a href="javascript:0" type="button"
															 data-bs-toggle="modal" data-bs-target="#Edit{{this.Address_UniqueId}}">Edit <i class="icon-edit"></i></a>||
                                                        <a href="javascript:0" type="button"
															 data-bs-toggle="modal" data-bs-target="#Delete{{this.Address_UniqueId}}">Delete <i class="icon-delete"></i></a> 
                                                        {{#unless this.Default}}
                                                        <a class="ml-5 Status_Btn" href="javascript:MakeDefaultAddress('{{this.Address_UniqueId}}')">Make Deafult</a>
                                                        {{/unless}}
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
                                                <div class="modal fade modal-add-contact" id="Edit{{this.Address_UniqueId}}" tabindex="-1" role="dialog" aria-hidden="true">
			                                    	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				                                    	<div class="modal-content">
				                                    		    <form id="UpdateAddressForm" action="/UpdateAddress" method="post">
				                                    			    <input type="text" value="{{this.Address_UniqueId}}" name="AddressId" readonly hidden>
					                                    			<div class="modal-header px-4">
						                                    			<h5 class="modal-title" id="exampleModalCenterTitle">Edit Address</h5>
						                                    		</div>
						                                    		<div class="modal-body px-4">
							                                    		<div class="row mb-1 mt-4">
							                                    			<div class="col-lg-6">
								                                    			<div class="form-group">
								                                      				<label for="firstname">First Name</label>
								                                    				<input type="text" class="form-control" id="firstname" name="FirstName" value="{{this.First_Name}}"  required>
									                                    		</div>
									                                    	</div>
										                                    <div class="col-lg-6">
										                                    	<div class="form-group">
											                                    	<label for="lastName">Last Name</label>
											                                    	<input type="text" class="form-control" id="lastName" name="LastName" value="{{this.Last_Name}}"  required>
										                                    	</div>
										                                    </div>
									                                    </div>
								                                    	<div class="row mb-1 mt-1">
									                                    	<div class="col-lg-6">
									                                    		<div class="form-group">
										                                    		<label for="companyName">Company Name</label>
											                                    	<input type="text" class="form-control" id="companyName" name="companyName" value="{{this.Company_Name}}"  required>
											                                    </div>
										                                    </div>
										                                    <div class="col-lg-6">
									                                    		<div class="form-group">
										                                    		<label for="Email">Email</label>
											                                    	<input type="text" class="form-control" id="Email" name="Email" value="{{this.Email}}"  required>
											                                    </div>
										                                    </div>
									                                    </div>
                                                                        <div class="row mb-1 mt-2">
							                                    			<div class="col-lg-12 col-md-12">
								                                    			<div class="form-group">
								                                      				<label for="Street_Address">Street Address</label>
								                                    				<input type="text" class="form-control" id="Street_Address" name="Street_Address" value="{{this.Street_Address}}"  required>
									                                    		</div>
									                                    	</div>
                                                                        </div>
                                                                        <div class="row">
										                                    <div class="col-lg-12 col-md-12">
										                                    	<div class="form-group">
											                                    	<label for="Street_Address">Street Address</label>
											                                    	<input type="text" class="form-control" id="Street_Address1" name="Street_Address1" value="{{this.Street_Address1}}"  required>
										                                    	</div>
										                                    </div>
									                                    </div><div class="row  mt-1">
							                                    			<div class="col-lg-4">
								                                    			<div class="form-group">
								                                      				<label for="City">City</label>
								                                    				<input type="text" class="form-control" id="City" name="City" value="{{this.City}}"  required>
									                                    		</div>
									                                    	</div>
                                                                            <div class="col-lg-4">
								                                    			<div class="form-group">
								                                      				<label for="State">State</label>
								                                    				<input type="text" class="form-control" id="State" name="State" value="{{this.State}}"  required>
									                                    		</div>
									                                    	</div>
										                                    <div class="col-lg-4">
										                                    	<div class="form-group">
											                                    	<label for="Country">Country</label>
											                                    	<input type="text" class="form-control" id="Country" name="Country" value="{{this.Country}}"  required>
										                                    	</div>
										                                    </div>
									                                    </div>
                                                                        <div class="row mt-1">
							                                    			<div class="col-lg-6">
								                                    			<div class="form-group">
								                                      				<label for="Zip_Code">Zip <Code></Code></label>
								                                    				<input type="text" class="form-control" id="Zip_Code" name="Zip_Code" value="{{this.Zip_Code}}"  required>
									                                    		</div>
									                                    	</div>
										                                    <div class="col-lg-6">
										                                    	<div class="form-group">
											                                    	<label for="Phone_Number">Phone_Number</label>
											                                    	<input type="text" class="form-control" id="Phone_Number" name="Phone_Number" value="{{this.Phone_Number}}"  required>
										                                    	</div>
										                                    </div>
									                                    </div>			
								                                        <div class="row">
									                                        <div class="col-md-12">
									                                            <div class="modal-footer px-4">
									                                            	<button type="button" class="btn btn-secondary btn-pill" data-bs-dismiss="modal">Cancel</button>
										                                            <button type="submit" class="btn btn-primary ">Update </button>
									                                            </div>
									                                        </div>
									                                    </div>
								                                    </div>
				                                        		</form>
				                                    	</div>
			                                    	</div>
			                                    </div>
                                                <div class="modal fade modal-add-contact" id="Delete{{this.Address_UniqueId}}" tabindex="-1" role="dialog" aria-hidden="true">
			                                    	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				                                    	<div class="modal-content">
				                                    		    <form action="/DeleteAddress" method="post" id="DeleteAddressForm" >
				                                    			    <input type="text" value="{{this.Address_UniqueId}}" name="AddressId" id="Address_UniqueId" readonly hidden>
					                                    			<div class="modal-header px-4">
						                                    			<h5 class="modal-title" id="exampleModalCenterTitle">Delete Address</h5>
						                                    		</div>
						                                    		<div class="modal-body px-4">
                                                                        <div class="row mt-2 ml-2">
							                                    		<h6>Are you sure to Delete <span style="color: #c96; font-weight:bold">{{this.First_Name}} {{this.Last_Name}}'s</span> Address ?</h6>			
                                                                        </div>
								                                        <div class="row">
									                                        <div class="col-md-12">
									                                            <div class="modal-footer px-4">
									                                            	<button type="button" class="btn btn-secondary btn-pill" data-bs-dismiss="modal">Cancel</button>
										                                            <button type="submit" class="btn btn-primary ">Delete </button>
									                                            </div>
									                                        </div>
									                                    </div>
								                                    </div>
				                                        		</form>
				                                    	</div>
			                                    	</div>
			                                    </div>
								    		</div><!-- End .col-lg-6 -->
                                            {{/each}}
								    		
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="/updateUser" method="post" id="UserDataForm">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" value="{{DataObj.User.register_Full_Name}}" name="Fullname" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Display Name *</label>
			                						<input type="text" class="form-control" value="{{DataObj.User.register_Full_Name}}" name="Displayname" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" value="{{DataObj.User.register_Email}}" name="email" required>

		            						<label>Current password </label>
		            						<input type="password" class="form-control" name="CurrentPass" required>

		            						
		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    {{>mobile-menu}}
